.account {
  display: grid;
  grid-template-rows: 7rem 1fr;
  min-height: $page-content-height;
  justify-items: center;
  align-items: center;

  @include respond(phone) {
    grid-template-rows: 10rem 1fr;
  }

  &__menu-bar {
    align-self: stretch;
    justify-self: stretch;
    background-color: #a6b1e1;
    display: grid;
    grid-template-columns: 1fr 15% 15%;
    align-items: center;
    justify-content: center;

    @include respond(tab-port) {
      grid-template-columns: 1fr 15rem 15rem;
    }
    @include respond(phone) {
      grid-row: 50% 50%;
      grid-template-columns: repeat(5, 1fr);
    }
  }

  &__menu-contact,
  &__menu-viewContacts {
    background-color: $secondary;
    line-height: 3rem;
    border-radius: 3px;
    cursor: pointer;
    width: 11rem;
    text-align: center;
    text-transform: capitalize;
    border: 1px solid transparent;
    color: $primary;
    transition: all 1s;

    @include respond(phone) {
      align-self: center;
      justify-self: center;
    }

    &:hover {
      border: 1px solid $secondary;
      background-color: transparent;
    }
  }

  &__menu-contact {
    @include respond(phone) {
      grid-row: 1 / 2;
      grid-column: 2 / 3;
    }
  }
  &__menu-viewContacts {
    @include respond(phone) {
      grid-row: 1 / 2;
      grid-column: 4 / 5;
    }
  }

  &__search-bar {
    display: flex;
    align-content: center;
    align-items: center;
    width: 100%;

    @include respond(phone) {
      align-self: start;
      grid-column: 1 / end;
    }

    &__input {
      height: 2.5rem;
      border-radius: 3px;
      margin-left: 25%;
      margin-right: -2rem;
      width: 50%;
      border: none;
      outline: none;
      padding-left: 1rem;
      color: inherit;
      font-family: inherit;
      font-weight: inherit;
      line-height: inherit;

      @include respond(tab-port) {
        margin-left: 15%;
        width: 70%;
      }
    }

    &__input:active,
    &__input:focus {
      border: inherit;
      outline: 1px solid #a6b1e1;
    }

    &__button {
      cursor: pointer;
    }
  }

  ////////////////////////////////// add contact

  &__add-contact {
    min-height: 25rem;
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    display: Grid;
    grid-template-rows: 5rem 1fr;
    row-gap: 1rem;
  }

  &__add-title {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    padding: 1.5rem;
    background-color: $primary;
    color: #fff;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 100%;
  }

  //Mui
  .MuiFormControl-root {
    width: 20rem;
    background-color: white;
    border-radius: 5px;
    margin-bottom: $form-margin-bottom;
  }

  //outline color when focus
  .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: $primary;
  }

  &__add-fname {
    // width: 100%;
  }
  &__add-lname {
    // width: 100%;
  }
  &__add-email {
    // width: 100%;
  }
  &__add-phone {
    // width: 100%;
  }
  &__add-address {
    // width: 100%;
  }
  &__add-note {
    align-self: center;
    textarea {
      border-radius: inherit;
      outline: 0.01rem solid $primary;
      padding: 0.5rem;
      font-size: 1rem;
      width: 20rem;
      resize: none;
      margin-bottom: $form-margin-bottom;
    }
  }
  //for add a new contact
  .btn {
    width: 20rem;
  }

  //////////////////////////// user list

  &__user-list {
    width: 100%;
    min-height: 100%;
    font-size: 1.3rem;
    padding: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__user-display {
    align-self: baseline;
    min-height: 25rem;
    width: 25%;
    min-width: 30rem;
    line-height: 2rem;
    padding: 1rem;
    border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    background-color: white;
    margin-right: 5rem;
    margin-bottom: $form-margin-bottom;

    @include respond(tab-port) {
      margin-right: 0;
      margin-bottom: $form-margin-bottom-tab;
      width: 60%;
      min-width: 30rem;
    }
  }

  &__fullname-display {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    background-color: $primary;
    color: white;
    height: 4rem;
    margin: -1rem -1rem 0 -1rem;
    text-align: center;
    padding: 1rem;
    overflow: hidden;
    margin-bottom: $form-margin-bottom;
  }

  &__info {
    display: grid;
    grid-template-columns: 7rem 1fr;
    grid-template-rows: minmax(max-content, 4rem);

    grid-auto-rows: minmax(max-content, 4rem);
  }

  &__info-value {
    font-size: 1.1rem;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn {
    width: 35%;
    margin-right: 3rem;
    margin-bottom: 0;
    text-transform: capitalize;
    font-size: 1.2rem;
  }
}
