.nav {
  display: grid;
  background-color: #f4eeff;
  height: 7rem;
  width: 100%;
  color: $primary;

  grid-template-columns: 1fr repeat(2, 15%);

  @include align_justify_center;
  box-shadow: 0px 7px 5px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;

  &__logo {
    width: 7rem;
    margin-left: 3rem;
    img {
      height: 7rem;
      overflow: hidden;
      cursor: pointer;
    }
  }

  &__account,
  &__sign-up {
    text-align: center;
    background-color: white;
    border: 1px solid $color-palette-1;
    border-radius: 3px;
    width: 11rem;
    line-height: 3rem;
    cursor: pointer;
    text-transform: capitalize;
    transition: all .5s;

    &:hover {
      border: 1px solid $primary;
      background-color: transparent;
    }
  }
}
