@mixin align_justify_center {
  align-items: center;
  justify-content: center;
}

@mixin border-top-left-right-radius($left, $right) {
  border-top-left-radius: $left;
  border-top-right-radius: $right;
}
