// color
$primary: #424874;
$secondary: #f4eeff;
$color-palette-1: #a6b1e1;
$text__color: #333;

//font
$font: "Lato", sans-serif;

//number variables
$page-content-height: calc(100vh - 8rem); //header is 7rem and 10px shadow/margin bottom
$form-margin-bottom: 1.5rem;
